html,body
{
    width :100%;
    margin:0;
    padding:0;

}

#titre_forum {
    text-indent: 35%;
    font-size: 300%;

}
#description{
    font-size:130%;
    text-align:left;
    color:midnightblue;
    font-family: "Times New Roman"


}
.bouton_discussion{
    margin-bottom: 5%;
    margin-top:5%;
    text-align:center;
    padding: 0.5%;
    border-radius: 10px;
    background: gainsboro;
    margin-left: 5%;
    font-family:"Times New Roman";
    font-size:90%;

}
.bouton_discussion:hover {
    background: sandybrown;
}
.formulaire{
    background-color: gainsboro;
    padding:5%;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;

}