html,body
h1{
    text-align:center;
    font-size:130%;
    font-family: "Times New Roman";
    color:midnightblue;
}
h2{
    font-family: "Times New Roman";
    font-size: 100%;
    text-align: left;
}
.Para1{
    font-family: "Times New Roman";
    text-align:left;
    text-align: justify;
    margin-right: 2%;

  }
h3{
    font-family: "Times New Roman";
    font-size: 100%;
    text-align: left;

}
.Para2{
    font-family: "Times New Roman";
    text-align:left;
    text-align: justify;
    margin-right: 2%;

}

H4{
    font-family: "Times New Roman";
    font-size: 100%;
    text-align: left;
}
.Para3{
    margin-left: 20%;
    font-family: "Times New Roman";
    text-align:left;
    text-align: justify;
    margin-right: 2%;
}
h5{
    margin-left:20%;
    font-family: "Times New Roman";
    font-size: 100%;
    text-align: left;
}

.Para4{
    margin-left:20%;
    font-family: "Times New Roman";
    text-align:left;
    text-align: justify;
    margin-right: 2%;
}
