html, body
{
    width: 100%;
    height : 100%;
    margin:0;
    padding: 0;
}


/* HEADERf */
header /* balise */
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    background: #F1F9FF 0 0 no-repeat padding-box;
    opacity: 1;
    flex-direction: row;
    padding-top: 1%;
    height: 15%;
}


.titre /* classe */
{
    color: #1D2043;
    font-size: 250%;
    text-align: center;
    margin-left:-35%;
}

/*SEPARATEUR HAUT */
.trait_fin_menu
{
    height: 0.25%;
    background-color: #2699FB;
}


.bouton_langue{
    margin-left:-20%;
    border: 0;
    padding: 1% 1%;
    font-size: 100%;
    text-align: center;
    color: #fff;
    border-radius: 8%;
    background-color: rgba(29, 32, 67, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
    text-decoration: none;
}

.bouton_langue:hover
{
    background-color:  #F1F9FF/*rgba(255, 0, 0, 1)*/;
    color: black;
}

.bouton_langue:active
{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.pagePrincipale{
    margin-top:5%;
    color: #1D2043;
    font-size: 250%;
    text-align: center;
    margin-bottom:9.2%;
 }
.lien{
    font-style: italic;
    color: royalblue;
    font-size: 90%;

}
