html, body
{
    width: 100%;
    margin:0;
    padding:0;
}
<<<<<<< Updated upstream
=======
.test {
    background-color: #1D2043;
}
>>>>>>> Stashed changes
#canvas{
    display:inline-flex;
    horiz-align: right;
    margin-left: 20%;
}
#canvas_tableau{
    background-color: #D0EDF7;
    width: 35%;
    height: 35%;
    border-radius: 30px;
    padding-bottom: 20px;
}
#canvas_graphique{
    background-color: #D0EDF7;
    width: 35%;
    height: 25%;
    border-radius: 30px;
    padding-bottom: 20px;

}
h2{
    text-align: center;
    font-family: Georgia;
}
.texte_milieu{
    margin-top: 125px ;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 75px;
    font-family: Arial;
}
.troisieme_bouton{
    border: 0;
    line-height: 1.5;
    padding: 10px 15px;
    font-size: 1rem;
    text-align: center;
    color: #F1F9FF;
    border-radius: 2px;
    background-color: #2043F4;
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    text-decoration: none;
    margin-left:80%;
    -top: 150px;
}