p
{
    color: black;
}


#logo
{

	width: 20%;
}
#eye,#sound,#ear
{
	width: 40%;
}

h1{
	text-align: center;
	color: #52abff;
}


#conteneur
{

	width:100%;
	height: 50%;
	border: 3px #f1f9ff solid;
	border-radius: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #f1f9ff;
}
.BoutTry{
	text-decoration: none;
	display: inline-block;
	width: 40%;
	border: 2px blue outset;

	font-size:25px;

}
#conteneur .BoutTry a {

	color: white;
}
.BoutTry a:hover{
	background-color: #f4566a;
    color: #98ff4d;

}

#arrow
{
	display: block;
	width: 10%;
	margin-right: auto;
	margin-left: auto;
}


