html,body

.texte_entier{
    text-align: left;
    font-family: "Times New Roman";
    text-align: justify;

}

.titre_C{
    font-family: "Times New Roman";
    text-align:center;
    font-size: 250%;
    color: #1D2043;
}
.deuxieme_titre{
    font-family: "Times New Roman";
    font-size: 120%;
    color: #1D2043;
    text-decoration: underline;

}
.Para1{
    margin-right: 2%;
  }

.config{
    font-family: "Times New Roman";
    font-size: 120%;
    color: #1D2043;
    text-decoration: underline;
}

.Para2{
    margin-right: 2%;
}

.acces{
    font-family: "Times New Roman";
    font-size: 120%;
    color: #1D2043;
    text-decoration: underline;
    margin-left: 20%;

}

.Para3{
    margin-left: 20%;
    margin-right: 2%;
}

.inscription{
    margin-left:20%;
    font-family: "Times New Roman";
    font-size: 120%;
    color: #1D2043;
    text-decoration: underline;
}

.Para4{
    margin-left:20%;
    margin-right: 2%;
}
