html, body
{
    width: 100%;
    height : 100%;
    margin:0;
    padding: 0;
}


/* HEADERf */
header /* balise */
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    background: #F1F9FF 0 0 no-repeat padding-box;
    opacity: 1;
    flex-direction: row;
    padding-top: 1%;
    height: 15%;
}

.taille_menu{
    width:0%;
}

.titre /* classe */
{
    color: #1D2043;
    font-size: 250%;
}

.icones
{
    margin-right: 5%;
    
}


/*SEPARATEUR HAUT */
.trait_fin_menu
{
    height: 0.25%;
    background-color: #2699FB;
}


.bouton_langue{
    border: 0;
    padding: 1% 1%;
    font-size: 100%;
    text-align: center;
    color: #fff;
    border-radius: 8%;
    background-color: rgba(29, 32, 67, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
    text-decoration: none;
}

.bouton_langue:hover
{
    background-color:  #F1F9FF/*rgba(255, 0, 0, 1)*/;
    color: black;
}

.bouton_langue:active
{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/*------------------------------------------------------------------------------------*/

.bandeau_menu {
        margin-top: -10%;
    float: left;
        width: 15%;
        height: 100%;
        background: #1D2043 0 0;
        opacity: 1;
        box-shadow: 0 2px 5px #1c1a19;
        margin-right: 5%;
        position:relative;
}

.logo_ininite_measures
{
    margin-left:20%;
    margin-top:10%;
}


/* POUR LE MENU : NAV */
nav ul
{
    list-style-type: none;
}
nav li
{
    padding-top: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
}
nav a
{
    font-size: 130%;
    color: #FFFFFF;
    text-decoration: none;
}
nav a:hover
{
    color: #2699FB;
    border-bottom: 3px solid #F1F9FF;
}
