html, body
{
    width: 100%;
    height : 100%;
    margin: 0;
    padding: 0;
}

footer
{
    background: #1D2043 0 0 no-repeat padding-box;
    opacity: 1;
    width: 100%;
    box-shadow: 0 2px 5px 3px #1c1a19;
    position : absolute;
    height: auto;
}

.bloc_footer1, .bloc_footer2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.texte_footer{
    color : white;
    text-align: center;
    font-size: 80%;
}

.signature{
    display:flex;
    flex-direction:column;
    color: white;

}

.logo_WINK {
    width:50%;
    margin-left:-8%;

}

.bouton_mail
{
    color:white;
    font-style: italic;
    text-decoration: underline;
    font-size: 90%;
}


.trait_fin_footer{
    height: 0.01em;
    width : 100%;
    margin-top: 1%;
    background-color: white;
}
footer a
{
    font-size: 1.1em;
    color: #FFFFFF;
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
}

.conditions, .mentions{
    font-size: 80%;
}