
.formulaire {
    margin-bottom: 10%;
    margin-top: 5%;
    margin-right: 30%;
    font-family:Times New Roman;
    background-color: #f1f9ff;
    padding: 3% ;
    margin-left: 30%;
    font-size: large;
}
.titre_alerte{
    color:red;
    text-align: center;
    font-size:200%

}
.bouton_retour
{
    font-size:70%;
    background-color:beige;
    margin-bottom: 3%;
    padding: 1%;
    margin-left: 125%;


}