html, body
{
    width: 100%;
}
.canvas{
    background-color: #D0EDF7;
    width: 35%;
    height: 35%;
    border-radius: 30px;
    position: absolute;
    left: 38%;
    top: 200px;
    margin-bottom: 150px;
    padding-bottom: 75px;
}
h2 {
    text-align: center;
    font-family: Arial;
    color: darkblue;
}
.bargraph {
    height: 229px;
    position: relative;
    background:  url('../../images/graph.jpg') repeat-x;
    border-left: 1px solid #d4d4d4;
    margin: 15px auto 50px;
}

.bargraph ul.bars {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.bargraph ul.bars li {
    position: absolute;
    width: 30px;
    height: 200px;
    bottom: 29px;
    padding: 0;
    margin: 0;
    background: url("../../images/barre.jpg") no-repeat;
    text-align: center;
    font-weight: bold;
    color: white;
    line-height: 2.5em;
    font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    z-index: 99;
}
body{
    margin-bottom: 10000px;
}

.bargraph ul.bars li span {
    position: relative;
    top: -25px;
    color: #7c7c7c;
    color: white;
}


.bargraph ul.bars li.bar1 { left: 21px;  }
.bargraph ul.bars li.bar2 { left: 94px;  }
.bargraph ul.bars li.bar3 { left: 167px; }
.bargraph ul.bars li.bar4 { left: 240px; }
.bargraph ul.bars li.bar5 { left: 313px; }




.bargraph ul.bars li.bluebar  { background-position: 0px bottom; }
.bargraph ul.bars li.redbar   { background-position: -30px bottom; }
.bargraph ul.bars li.greenbar { background-position: -60px bottom; }
.bargraph ul.bars li.orangebar  {  background-position: -90px bottom; }
.bargraph ul.bars li.purplebar  {  background-position: -150px bottom; }

.label { list-style-type: none;
    position: absolute; bottom: 3px;
    margin: 0; padding: 0; }
.label li {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 11px;
    width: 73px;

    float: left;
    text-align: center;
    overflow: hidden;

    font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    line-height: 1.6em;
}


ul.y-axis { list-style-type: none; position: absolute;
    left: -45px;
    width: 40px;
    text-align: right;
    bottom: 0;
    margin: 0; padding: 0;
}

ul.y-axis li:first-child {
    height: 40px;
    line-height: 40px;
}

ul.y-axis li {
    color: #aba8a8;
    font-size: 12px;
    height: 51px;
    line-height: 51px;
    text-align: right;
}

ul.y-axis li.units {
    position: absolute;
    bottom: 110px;
    right: 20px;
    line-height: 1.2em;
    height: auto;
}
.bargraph  p {
    position: absolute;
    left: 0;
    top: 236px;

    padding: 0;
    margin:0;
    text-align: left;

    width: 100%;
    font-family: Verdana, sans-serif;
    font-size: 10px; color: black;
    line-height: 1.3em;

}
.bargraph p.centered {
    text-align: center;
    font-size: 15px;
}

h3{
    text-align: center;
    font-family: Georgia;
    font-size: 2em;
    position: absolute;
    left: 53%;
    top: 180px;
}
div.tabbed {
    position: absolute;
    top: 20%;
    left: 25%;
}

div.tabs a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: darkblue;
    margin-right: 2px;
    padding: 0px 2px;
    border-radius: 3px;
}

div.tab {
    display: none;
    height: 250px;
    border-radius: 5px;
    text-align: center;
}

div.tab:target {
    display: block;
}

:target div.tab {
    display: block;
}
:target div.tab + div.tab{
    display: none;
}
footer {
    position: fixed;
    bottom: -90px;
}

.bouton_retour
{
    margin-top: 33%;
    margin-bottom: 7%;
    width:20%;
    height :5%;
    margin-left: 54%;
    font-size: larger;
    border: 1px solid #1D2043;


}