html, body
{
    width: 100%;
    height : 100%;
    margin: 0;
    padding: 0;
}

.titre_ML{
    font-family: "Times New Roman";
    text-align:center;
    font-size: 250%;
    color: #1D2043;


}

.texte{
    font-family: "Times New Roman";
    text-align:left;
    text-align: justify;
    margin-right: 2%;
    margin-bottom: 13%;

}