html, body
{
    width: 100%;
    height : 100%;
    margin: 0;
    padding: 0;
}

.titre_moncompte{
    margin-top: 3%;
    text-align: center;
    color:#1D2043;
    text-decoration: underline ;
    text-decoration-color: #1D2043;
}

.deux_parties{
    display:flex;
    justify-content: space-between;

}

.partie_gauche
{
    diplay: flex;
    flex-direction: column;
    width:60%;
    margin-top: 25%;

}

.boutons1, .boutons2{
    display: flex;
    margin-left: 5%;
    position:absolute;
    z-index:2;
    justify-content: space-between;

}

.editermonprofil, .consulter, .editierunprofil, .Ajouter{
    width:15em;
    height :5em;
    margin-top:2%;
    font-size: 100%;
    color: white;
    background: #1D2043;

}


.photo_profil{
    margin-bottom:15%;
    margin-top:6%;
    margin-left: 17%;
    background: white;
    position: absolute;
    z-index:2;


}

.partie_droite
{
    display: flex;
    flex-direction: column;
    width:40%;
    margin-top: 7%;
}

.details1
{
    display: flex;
    flex-direction: column;
    color:#2699FB;


}
.details2
{
    display: flex;
    flex-direction: column;
    color:#2699FB;
    margin-bottom:50%;

}

.nom, .email,.domaine,.num_tel
{
    font-weight: bold;
    font-size: 180%;
}



.fond
{
    background: #2699FB;
    opacity: 0.15;
    width: 80%;
    height: 60%;
    position:absolute;
    margin-left:18%;
    z-index:1;
    margin-top:1%;
}
