html, body
{
    width: 100%;
    height : 100%;
    margin: 0;
    padding: 0;
}

.titre_tableau{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    color:#1D2043;
    text-decoration: underline ;
    text-decoration-color: #1D2043;
}


.fond
{
    opacity: 0.3;
    width: 77%;
    height: 60%;
    position:absolute;
    margin-left:20%;
    z-index:1;
}
.resultat_tableau
{
    border-collapse: collapse;
    margin-top:5%;
    margin-left: 23%;
    width: 70%;
    height: 30%;
    background: #F1F9FF;
    z-index:2;
    position:absolute;


}
tr, th, td /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
    font-size: large;
    color:#1D2043;
    text-align: center;
    width:10%;
}

.bouton_retour
{
    margin-top: 33%;
    margin-bottom: 3%;
    width:8%;
    height :3%;
    margin-left: 57%;
    font-size: medium;
    border: 1px solid #1D2043;


}