html, body
{
    width: 100%;
    height : 100%;
    margin: 0;
    padding: 0;
}

footer
{
    background: #1D2043 0 0 no-repeat padding-box;
    opacity: 1;
    width: 100%;
    box-shadow: 0 2px 5px 3px #1c1a19;
    position : absolute;


}

.bloc_footer1, .bloc_footer2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}


.texte_footer{
    color : white;
    text-align: center;
    margin-left: 17%;
    font-size: 100%;
}

.signature{
    display:flex;
    flex-direction:column;
    float: left;


}
.realisation{
    color : white;
    text-align: center;
    font-size: 130%;
    margin-bottom: 5%;
    margin-left:2%;
}
.logo_WINK {
    margin-left:17%;
    width:70%;
}

.bouton_mail
{
    width: 15%; ;
    line-height: 1.5;
    font-size: 100%;
    text-align: center;
    color: #1D2043;
    font-weight:bold;

    padding: 1% 1%;
    margin-right : 3%;
    margin-bottom: 2%;
    border-radius: 10px;
    background-color: white;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
    text-decoration: none;
}


.trait_fin_footer{
    height: 2px;
    width : 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: white;
}
footer a
{
    font-size: 1.1em;
    color: #FFFFFF;
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
}

